#Div2{
    margin-top:4%;
    #form{
        position: fixed;
    width:40%;;
        }
        
    #divider{
        border-top:12px solid #51C4D3;
        border-radius:10px;
        float:left;text-align: left;
        margin-left:2%;
        width:20%;
    }
    #div{
        text-align:left;
        margin-left:5%;
        h1{
            font-size:4em;
        }
        p{
            font-size:2em;
        }
        #img{
            width:100%;
        }
    }
}