#Div8{
    margin-top:6%;
    #divider{
        border-top:12px solid #51C4D3;
        border-radius:10px;
        float:left;text-align: left;
        margin-left:2%;
        width:20%;
    }
    #div{
        text-align:left;
        margin-left:5%;
        h1{
            font-size:3.5em;
        }
        p{
            font-size:2em;
        }
        #img{
            width:100%;
        }
    }

    table{
        text-align: center;
        th{
        background-color: #6D8D9E;
        color:white;
        }
        td{
            background-color: white;;
        }
    }
}