#Div9{
    margin-top:5%;
margin-bottom:5%;
    
    #divider{
        border-top:12px solid #51C4D3;
        border-radius:10px;
        float:left;text-align: left;
        margin-left:0%;
        width:20%;
    }
    #div{
        text-align:left;
        background-color: #F1F7FF;
        padding:4%;
        margin-left:5%;
        h1{
            font-size:4em;
        }
        p{
            font-size:2em;
        }
        #img{
            width:100%;
        }
        table{
            width:100%;
            padding:10%;
            margin-top:4%;
            
        td{
            padding-left:4%;
            
        }
        

            tr{
            padding:5%;
                background-color: #F1EBEB;
                vertical-align: top;
margin-top: 5%;
            }
            #button{
                border:0px solid red;
            }
        }

        #button{
        
            font-size:1.5em;
            

        }
        #button:hover{
            color:red;
            background:transparent;
            border:0px solid red;
        }
        #button:active{
            color:red;
            background:transparent;
            border:0px solid black;
        

        }
    }
}